<div class="panel panel-default">
	<h3><%= link_to article.current_version.title, article_path(article) %></h3>
	<p><%= article_blurb(article) %>...</p>
	<i>last updated by <%= article.last_updated_by %> on <%= article.last_updated_at %>. <%= article.edit_count %> total edit(s).</i>
</div>
