<div class="version-form">
  <h2>Create A New Article</h2>
  <%= form_for @article do |f| %>
    <%= f.fields_for :versions do |versions_form| %>
    <div class="error">
      <% if @errors %>
      <% @errors.each do |error| %>
        <%= error  %>
        <% end %>
      <% end %>
    </div>
		<div>
		  <%= versions_form.label :title %>
		</div>
		<div>
		  <%= versions_form.text_field :title, class: "title-field input-lg" %>
		</div>
		<div>
		  <%= versions_form.label :body %>
		</div>
		<div>
		  <%= versions_form.cktext_area :body, rows: 10 %>
		</div>
	<% end %>
  <div>
    <%= f.fields_for :categorizations do  %>
      <%= render partial: 'categorizations/form' %>
    <% end %>
  </div>
    <br>
  	<div>
  	  <%= f.submit 'Save Article', class: "btn btn-info" %>
  	</div>
  <% end %>
   <br>
  <%= render 'categories/form' %>
</div>
