<nav>
  <ul class="nav_ul">
      <li id="header"><a id="header-link" href="/">Sandbox</a></li>
      <li class="search-bar"><%= render '/shared/search_bar' %></li>
    <% if user_signed_in? %>
      <li class="nav-link"> <%= link_to "Homepage", root_path %> </li>
      <li class="nav-link"> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
    <% else %>
      <li class="nav-link"> <%= link_to "Homepage", root_path %> </li>
      <li class="nav-link"> <%= link_to "Login", new_user_session_path  %> </li>
      <li class="nav-link"> <%= link_to "Register", new_user_registration_path %> </li>
    <% end %>
  </ul>
</nav>

