<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<%= render '/shared/nav' %>
    <%= render '/shared/search_bar' %>
    <%= yield %>
  </body>
</html>
